<div id="breadcrumbs">
    <p><a href="#home">Home </a><span class="category-name">&raquo; {{categoryName}}</span></span></p>
</div>
<div class="divider"></div>
<div id="quote">
    <h1 id="category-name">{{categoryName}}</h1>
    <p>{{categoryDescription}}</p>
</div>
<div class="divider"></div>
<div id="content-wrapper">
    <main id="post-wrapper">
        <div id="posts-page">
            {{#each categoryPosts}}
            <a href="#categories/{{postCategory}}/{{postId}}"><h2 class="heading">{{postTitle}}</h2></a>
            <div class="divider"></div>
            <p class="post-details">Posted by<span> {{postAuthor}}</span> on <span>{{postDate}} </span>in <span>{{postCategory}}</span> category | <span>{{numberOfComments}} </span>comments</p>
            <div class="divider"></div>
            <section id="{{postId}}" class="post">
                <div class="post-image-wrapper">
                    <img class="post-image" src="{{imageUrl}}" alt=""/>
                    <div class="post-image-shadow"></div>
                </div>
                <p id="post-text">{{postText}}</p>
            </section>
            {{/each}}
        </div>
    <div id="pagination">
        {{#each categoryPages}}
        {{#if @first}}
            <button id="category-page-button-{{this}}" class="category-page-button active" onclick="showCategoryPostsPage({{this}})" disabled>{{this}}</button>
        {{else}}
            <button id="category-page-button-{{this}}" class="category-page-button" onclick="showCategoryPostsPage({{this}})">{{this}}</button>
        {{/if}}
        {{/each}}
    </div>
    </main>
    <aside id="right-sidebar">
        <article class="links-widget">
            <h2 class="heading">From the blog</h2>
            <ul>
                <li><a href="javascript:void(0)">Consequat id anim sunt</a></li>
                <li><a href="javascript:void(0)">Aute proident dolore</a></li>
                <li><a href="javascript:void(0)">Exercitation amet</a></li>
                <li><a href="javascript:void(0)">Tempor magna nulla</a></li>
                <li><a href="javascript:void(0)">Tempor sunt excepteur</a></li>
                <li><a href="javascript:void(0)">Non aliquip nulla utr</a></li>
            </ul>
        </article>
        <article class="links-widget">
            <h2 class="heading">Archives</h2>
            <ul>
                <li><a href="javascript:void(0)">Consequat id anim sunt</a></li>
                <li><a href="javascript:void(0)">Aute proident dolore</a></li>
                <li><a href="javascript:void(0)">Exercitation amet</a></li>
                <li><a href="javascript:void(0)">Tempor magna nulla</a></li>
                <li><a href="javascript:void(0)">Tempor sunt excepteur</a></li>
                <li><a href="javascript:void(0)">Non aliquip nulla utr</a></li>
            </ul>
        </article>
        <article class="links-widget">
            <h2 class="heading">Recent Posts</h2>
            <ul>
                <li><a href="javascript:void(0)">Consequat id anim sunt</a></li>
                <li><a href="javascript:void(0)">Aute proident dolore</a></li>
                <li><a href="javascript:void(0)">Exercitation amet</a></li>
                <li><a href="javascript:void(0)">Tempor magna nulla</a></li>
                <li><a href="javascript:void(0)">Tempor sunt excepteur</a></li>
                <li><a href="javascript:void(0)">Non aliquip nulla utr</a></li>
            </ul>
        </article>
    </aside>
</div>