<div id="slider">
    <div class="shadow-top"></div>
    <div id="slider-controls-left"><i class="fa fa-angle-left fa-2x" aria-hidden="true"></i></div>
    <div id="slider-images">
        {{#each slides}}
        {{#if @first}}
        <div id="slider-text-field-{{key}}" class="visible">
            <h2 class="heading">{{this.slideTitle}}</h2>
            <p class="exerpt">{{this.slideText}}</p>
            <a href="javascript:void(0)">Read more</a>                        
        </div>
        <img class="slider-image-{{key}} visible" src="{{this.imageUrl}}" alt="slider image">
        {{#else}}
        <div id="slider-text-field-{{key}}" class="hidden">
            <h2 class="heading">{{this.slideTitle}}</h2>
            <p class="exerpt">{{this.slideText}}</p>
            <a href="javascript:void(0)">Read more</a>                        
        </div>
        <img class="slider-image-{{key}} hidden" src="{{this.imageUrl}}" alt="slider image">
        {{/if}}
    </div>
    <div id="slider-controls-right"><i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></div>
    <div class="shadow-bottom"></div>
    <div id="slider-controls-bottom">
        {{#each slides}}
        {{#if @first}}
        <div class="control-bottom-{{key}} active"></div>
        {{#else}}
        <div class="control-bottom-{{key}}"></div>
    </div>
</div>
    <div class="divider"></div>
    <div id="quote">
        <h1>"Chameleon is an extremely versatile theme with a miriad of options and styles"</h1>
        <p>Et anim esse elit est officia nulla culpa ex id ipsum dolore proident velit.</p>
    </div>
    <div class="divider"></div>
    <main id="main-home">
        <section id="articles">
            <article class="article-exerpt col1">
                <h2 class="heading">Some Information Here</h2>
                <div class="image-wrapper">
                    <img src="http://fakeimg.pl/232x118?font=lobster" alt=""/>
                </div>
                <p class="exerpt">Voluptate non non laborum dolore esse incididunt esse enim. Irure ex ipsum excepteur eu mollit elit esse ea. Duis ad nulla aliqua ea duis commodo ut non voluptate cupidatat esse.</p>
            </article>
            <article class="article-exerpt col2">
                <h2 class="heading">Some Information Here</h2>
                <div class="image-wrapper">
                    <img src="http://fakeimg.pl/232x118?font=lobster" alt=""/>
                </div>
                <p class="exerpt">Voluptate non non laborum dolore esse incididunt esse enim. Irure ex ipsum excepteur eu mollit elit esse ea. Duis ad nulla aliqua ea duis commodo ut non voluptate cupidatat esse.</p>
            </article>
            <article class="article-exerpt col3">
                <h2 class="heading">Some Information Here</h2>
                <div class="image-wrapper">
                    <img src="http://fakeimg.pl/232x118?font=lobster" alt=""/>
                </div>
                <p class="exerpt">Voluptate non non laborum dolore esse incididunt esse enim. Irure ex ipsum excepteur eu mollit elit esse ea. Duis ad nulla aliqua ea duis commodo ut non voluptate cupidatat esse.</p>
            </article>
        </section>
        <section id="media">
            <article id="links">
                <h2 class="heading">From the blog</h2>
                <ul>
                    <li><a href="#">Consequat id anim sunt</a></li>
                    <li><a href="#">Aute proident dolore</a></li>
                    <li><a href="#">Exercitation amet</a></li>
                    <li><a href="#">Tempor magna nulla</a></li>
                    <li><a href="#">Tempor sunt excepteur</a></li>
                    <li><a href="#">Non aliquip nulla utr</a></li>
                </ul>
            </article>
            <article id="multi-media">
                <h2 class="heading">Multi-media</h2>
                <div id="media-wrapper">
                    <div id="media-controls-left"><i class="fa fa-angle-left fa-lg" aria-hidden="true"></i></div>
                    <div class="media-item tooltip"><span class="tooltip-text">
                        Laborum ut do consequat laborum sint quis cupidatat sit 
                        elit sit laborum excepteur.</span>
                        <img src="https://dummyimage.com/48x48.gif" alt=""/>
                    </div>
                    <div class="media-item tooltip"><span class="tooltip-text">
                        Laborum ut do consequat laborum sint quis cupidatat sit 
                        elit sit laborum excepteur.</span>
                        <img src="https://dummyimage.com/48x48.gif" alt=""/>
                    </div>                                
                    <div class="media-item tooltip"><span class="tooltip-text">
                        Laborum ut do consequat laborum sint quis cupidatat sit 
                        elit sit laborum excepteur.</span>
                        <img src="https://dummyimage.com/48x48.gif" alt=""/>
                    </div>
                    <div class="media-item tooltip"><span class="tooltip-text">
                        Laborum ut do consequat laborum sint quis cupidatat sit 
                        elit sit laborum excepteur.</span>
                        <img src="https://dummyimage.com/48x48.gif" alt=""/>
                    </div>
                    <div class="media-item tooltip"><span class="tooltip-text">
                        Laborum ut do consequat laborum sint quis cupidatat sit 
                        elit sit laborum excepteur.</span>
                        <img src="https://dummyimage.com/48x48.gif" alt=""/>
                    </div>
                    <div class="media-item tooltip"><span class="tooltip-text">
                        Laborum ut do consequat laborum sint quis cupidatat sit 
                        elit sit laborum excepteur.</span>
                        <img src="https://dummyimage.com/48x48.gif" alt=""/>
                    </div>
                    <div class="media-item tooltip"><span class="tooltip-text">
                        Laborum ut do consequat laborum sint quis cupidatat sit 
                        elit sit laborum excepteur.</span>
                        <img src="https://dummyimage.com/48x48.gif" alt=""/>
                    </div>
                    <div id="media-controls-right"><i class="fa fa-angle-right fa-lg" aria-hidden="true"></i></div>
                </div>
            </article>
        </section>
    </main>
</div>