<div id="slider">
    <div class="shadow-top"></div>
    <div id="slider-controls-left" onclick="slideDirection(-1)" ><i class="fa fa-angle-left fa-2x" aria-hidden="true"></i></div>
    <div id="slider-images">
        {{#each slides}}
        {{#if @first}}
        <div id="slider-text-field-{{@index}}" class="slider-text-field visible">
            <h2 class="heading">{{slideTitle}}</h2>
            <p class="exerpt">{{slideText}}</p>
            <a href="javascript:void(0)">Read more</a>                        
        </div>
        <img id="slider-image-{{@index}}" class="slider-image visible" src="{{imageUrl}}" alt="slider image">
        {{else}}
        <div id="slider-text-field-{{@index}}" class="slider-text-field hidden">
            <h2 class="heading">{{slideTitle}}</h2>
            <p class="exerpt">{{slideText}}</p>
            <a href="javascript:void(0)">Read more</a>                        
        </div>
        <img id="slider-image-{{@index}}" class="slider-image hidden" src="{{imageUrl}}" alt="slider image">
        {{/if}}
        {{/each}}
    </div>
    <div id="slider-controls-right" onclick="slideDirection(1)" ><i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></div>
    <div class="shadow-bottom"></div>
    <div id="slider-controls-bottom">
        {{#each slides}}
        {{#if @first}}
        <div id="control-bottom-{{@index}}" class="control-bottom active" onclick="slideSliderImages({{@index}})"></div>
        {{else}}
        <div id="control-bottom-{{@index}}" class="control-bottom" onclick="slideSliderImages({{@index}})"></div>
        {{/if}}
        {{/each}}
    </div>
</div>
<div class="divider"></div>
<div id="quote">
    <h1>"Chameleon is an extremely versatile theme with a miriad of options and styles"</h1>
    <p>Et anim esse elit est officia nulla culpa ex id ipsum dolore proident velit.</p>
</div>
<div class="divider"></div>
<main id="main-home">
    <section id="articles">
        {{#each articles}}
        <article class="article-exerpt">
            <h2 class="heading">{{articleTitle}}</h2>
            <div class="image-wrapper">
                <img src="{{imageUrl}}" alt=""/>
            </div>
            <p class="exerpt">{{articleText}}</p>
        </article>
        {{/each}}
    </section>
    <section id="media">
        <article id="links">
            <h2 class="heading">From the blog</h2>
            <ul>
                <li><a href="javascript:void(0)">Consequat id anim sunt</a></li>
                <li><a href="javascript:void(0)">Aute proident dolore</a></li>
                <li><a href="javascript:void(0)">Exercitation amet</a></li>
                <li><a href="javascript:void(0)">Tempor magna nulla</a></li>
                <li><a href="javascript:void(0)">Tempor sunt excepteur</a></li>
                <li><a href="javascript:void(0)">Non aliquip nulla utr</a></li>
            </ul>
        </article>
        <article id="multi-media">
            <h2 class="heading">Multi-media</h2>
            <div id="media-wrapper">
                <div id="media-controls-left" onclick="mediaDecrease()"><i class="fa fa-angle-left fa-lg" aria-hidden="true"></i></div>
                {{#each multimedia}}
                {{#isSmallerThan7 @index}}
                <div class="media-item tooltip"><span class="tooltip-text">
                    {{multimediaText}}</span>
                    <img src="{{imageUrl}}" alt="Multimedia image"/>
                </div>
                {{else}}
                <div class="media-item tooltip hidden"><span class="tooltip-text">
                    {{multimediaText}}</span>
                    <img src="{{imageUrl}}" alt="Multimedia image"/>
                </div>
                {{/isSmallerThan7}}
                {{/each}}
                <div id="media-controls-right" onclick="mediaIncrease()"><i class="fa fa-angle-right fa-lg" aria-hidden="true"></i></div>
            </div>
        </article>
    </section>
</main>
